.cards-container {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
}

.card {
    background-color: aliceblue;
    width: 400px;
    height: 400px;
    border: solid;
}