body {
    font-family: Roboto, sans-serif;
}

h2 {
    text-align: center;
}

$primary: #304d6dff; /* --yale-blue */
$secondary: #545e76ff; /*--independence */
$blue-jeans:#63adf2ff;
$baby-blue-eyes:#a7ccedff;
$air-superiority-blue:#82a0bcff;